.iconfont {
  color: #fff;
  margin: 0 0px;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
width: 600%;
}

.music-player-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.music-player-wrapper .music-player {
  width: 500px;
  border-radius: 30px;
  background-color: rgba(64, 64, 64, 0.615);
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-sizing: border-box;
}
.music-player-wrapper .music-player .top-bar {
  display: flex;
  height: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
}
.music-player-wrapper .music-player .top-bar .icon-24gl-volumeMiddle {
  margin: 0;
  font-size: 25px !important;
}
.music-player-wrapper .music-player .top-bar .icon-sousuo {
  font-size: 25px !important;
}
.music-player-wrapper .music-player .top-bar .progress-bar {
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 75%;
  cursor: pointer;
}
.music-player-wrapper .music-player .top-bar .progress-bar .duration-bar {
  display: inline-block;
  width: 100%;
  height: 6px;
  border-radius: 30px;
  background: rgb(255, 5, 5);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  position: absolute;
}
.music-player-wrapper .music-player .top-bar .progress-bar .progress {
  display: inline-block;
  width: 100%;
  height: 6px;
  background-color: #393737;
  border-radius: 30px;
  position: absolute;
}
.music-player-wrapper .music-player .top-bar .progress-bar .progress .round {
  position: absolute;
  right: -7.5px;
  top: -4.5px;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
}
.music-player-wrapper .music-player .music-info {
  display: flex;
}
.music-player-wrapper .music-player .music-info .info-left {
  width: 100%;
  margin-right: 6rem;
}
.music-player-wrapper .music-player .music-info .info-left img {
  width: 180%;
  border-radius: 20px;
}
.music-player-wrapper .music-player .music-info .info-right {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.music-player-wrapper .music-player .music-info .info-right .music-name {
  width: 240px;


}
.music-player-wrapper .music-player .music-info .info-right .music-name .name {
  font-size: 22px;
  color: #fff;
  font-weight: 500;
}
.music-player-wrapper .music-player .music-info .info-right .music-name .musician {
  display: block;
  color: rgb(0, 0, 0);
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.music-player-wrapper .music-player .music-info .info-right .playback-setting {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.music-player-wrapper .music-player .music-info .info-right .playback-setting .previous {
  transform: rotate(180deg);
  right: 100%;
}
.music-player-wrapper .music-player .music-info .info-right .playback-setting .icon-next {
  font-size: 35px;
  right: 3px;
  left: 5px;
}
.music-player-wrapper .music-player .music-info .info-right .playback-setting .icon-bofang, .music-player-wrapper .music-player .music-info .info-right .playback-setting .icon-zanting1 {
  font-size: 55px !important;
}
.music-player-wrapper .music-player .music-info .info-right .playback-setting .icon-zanting1 {
  display: none;
}
.music-player-wrapper .music-player .progress-bar {
  position: relative;
  margin-top: 20px;
  cursor: pointer;
}
.music-player-wrapper .music-player .progress-bar .duration-bar {
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 30px;
  background: rgba(253, 253, 253, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
}
.music-player-wrapper .music-player .progress-bar .progress {
  display: inline-block;
  width: 2%;
  height: 4px;
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
}
.music-player-wrapper .music-player .progress-bar .time {
  position: absolute;
  right: 0;
  top: -24px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */