@charset "UTF-8";

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url(./asset/font/Montserrat-Bold.ttf) format("truetype");
  text-rendering: optimizeLegibility;
}
* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  transition: 1s;
}

.logo {
  position: fixed;
  font-family: 'Montserrat';
  font-size: 50px;
  margin: 2% 27%;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.75rem;
  box-sizing: border-box;
  margin: 3% 0%;
}
.wrapper .controls-btn {
  display: flex;
  flex-direction: column-reverse;
}
.wrapper .controls-btn svg {
  margin: 40% 0;
  cursor: pointer;
}
.wrapper .controls-btn .last-wrapper svg {
  fill: rgba(255, 255, 255, 0);
}

.card-slide {
  width: calc(20rem + 30vmin);
  height: calc(20rem + 30vmin);
  right: 10%;
  transform: translateX(-10%);
}
.card-slide .card-stack-wrapper {
  width: calc(20rem + 30vmin);
  height: calc(20rem + 30vmin);
  position: absolute;
  left: 10%;
  top: 0;
  cursor: grab;
  transform-origin: center center;
  background-color: rgba(255, 255, 255, 0);
  background-size:contain;
  background-repeat: no-repeat; /* 不平铺图像 */
}
.card-slide .card-stack-wrapper:last-child {
  transform: rotateX(0) rotateY(0) rotateZ(0) scale(1) !important;
}
.card-slide .card-stack-wrapper .card-stack-inner {
  width: 100%;
  height: 100%;
}
.card-slide .card-stack-wrapper .card-stack-inner img {
  width: 100%;
  height: 100%;
}
.card-slide .card-stack-wrapper:last-child {
  background-color: #000000b7;
  transform: rotateX(0) rotateY(0) rotateZ(0) scale(1);
}
.card-slide .card-stack-wrapper:last-child .card-stack-inner {
  box-shadow: rgb(0, 0, 0) 50px 50px 50px;
}

.describe {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 5%;
}
.describe .tips {
  font-size:1.5rem;
  font-family:'Montserrat';
  margin-bottom: 10px;
}
.describe .contnet-text {
  font-size: 2rem;
  font-family:'Montserrat';
  cursor: pointer;
}
.describe .contnet-text:hover {
  text-decoration: underline;
}

.card-stack-wrapper-animating-DMD {
  animation: dragMouseDown 0.2s ease-in-out forwards;
}

@keyframes dragMouseDown {
  0% {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.card-stack-wrapper-animating-DMU {
  animation: dragMouseUp 0.2s ease-in-out forwards;
}

@keyframes dragMouseUp {
  0% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
.describe-disappear-animation {
  animation: opacityDisappear 0.5s ease-in-out forwards;
}

@keyframes opacityDisappear {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.describe-appear-animation {
  animation: opacityAppear 0.5s ease-in-out forwards;
}

@keyframes opacityAppear {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }
  .wrapper .controls-btn {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
  }
  .wrapper .card-slide {
    width: calc(20rem + 10vw);
    height: calc(20rem + 10vw);
    transform: translateX(0%);
  }
  .wrapper .card-slide .card-stack-wrapper {
    width: calc(20rem + 10vw);
    height: calc(20rem + 10vw);
  }
  .wrapper .describe {
    margin-bottom: 10%;
  }
  .wrapper .describe .contnet-text {
    font-size: 2rem;
  }
}/*# sourceMappingURL=style.css.map */